html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Mulish';
  src: url('https://fonts.googleapis.com/css?family=Mulish');
}
@font-face {
  font-family: 'Rubik';
  src: url('https://fonts.googleapis.com/css?family=Rubik');
}
@font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css?family=Inter');
}
@font-face {
  font-family: 'Mulish';
  src: url('https://fonts.googleapis.com/css?family=Mulish');
}
