$timeout: 300ms;
$transition: opacity $timeout ease-in-out, transform $timeout ease-in-out;

.page-entering {
  transition: $transition;
  opacity: 1;
  transform: translateX(0px);
  animation: "blink .3s linear 2";
}
.page-exiting {
  transition: $transition;
  opacity: 0;
  transform: translateX(-50px);
}

.page-exited {
  opacity: 0;
  transform: translateX(100%);
}

.page-entered {
  opacity: 0;
  transform: translateX(50px);
}