@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.page-enter-active {
  animation: fade-out 1s forwards;
}
.page-exit-active {
  animation: fade-in 1s forwards;
}
/*
.page-exit {
  animation: fade-in 1s forwards;
}
.page-enter {
  animation: fade-in 1s forwards;
}

 */